body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.feedback-container{
    background-color: lightblue;
    width: 500px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    position: relative;
}
.emoji-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}
.far{
    margin: 1px;
    transform: translateX(0);
    transition: transform 0.2s;
    font-size: 3em;
}
.rating-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}
.fa-star{
    color: grey;
    cursor: pointer;
    font-size: 2em;
}
.fa-star.active{
    color: yellow;
}
.interpr-container{
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}